.devBox {
	background-color: #292a2d;
	width: 450px;
	height: 150px;
	margin: 40px;
	display: flex;
	border-radius: 15px;
	padding: 25px;
}

.devInfo {
	margin-left: 5%;
	font-size: larger;
}

.devName {
	font-weight: 700;
	font-size: xx-large;
	display: block;
}
