.title {
	font-family:
		Greycliff CF,
		var(--mantine-font-family);
	font-size: rem(40px);
	margin-bottom: var(--mantine-spacing-md);
	color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}
