.root {
	&[data-variant="blue-border"] {
		border-radius:0.75rem;
		padding:var(--mantine-spacing-md);
        box-shadow: var(--mantine-spacing-md);
		border-width: 2px;
		border-style: solid;
		border-color: rgb(25, 113, 194);
		
		
        
	}
}
